NODE_ENV = development
PORT = 5000
MONGO_URI=mongodb://localhost:27017/Chat
JWT_SECRET=abc123
PAYPAL_CLIENT_ID=

SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_KEY=

#node-mailjet

EMAIL=specialityexam2@gmail.com
MJ_APIKEY_PUBLIC=b2ea488999fddf28fa2f2333b2bf1ef6
MJ_APIKEY_PRIVATE=2461f03e1f4dc1c3044f6c6243d54c88
